.header__info {
  background: #010101;
  height: 52px;
  flex-shrink: 0;
}

.header__navigators {
  background: rgba(1, 1, 1, 0.76);
  min-height: 112px;
  flex-shrink: 0;
}
.header__nm {
  color: #fff;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.header__nmcontact {
  gap: 16px;
  display: flex;
  justify-content: space-between;
}
.header__zvonok {
  color: #4f8ff0;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-decoration: none;
}
.header__titleh1 {
  color: #4f8ff0;
  font-family: Nunito Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
  text-transform: uppercase;
}

.header__undertitle {
  color: #fff;
  font-family: Nunito Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
  text-transform: lowercase;
}
.header__alink {
  color: #fff;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration: none;
  &:hover {
    color: #4f8ff0;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline;
  }
}
.hero__button,
.btn {
  display: block;
  padding: 16px 24px;
  gap: 10px;
  border: 2px solid #4f8ff0;
  background: #4f8ff0;
  color: #fff;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 48px;

  &:hover {
    border: 2px solid #4f8ff0;
    background: #fff;
    color: #4f8ff0;
    cursor: url("../icons/cursorwhite.svg"), auto;
  }
}
.hero__bullettwo,
.hero__bulletthree {
  width: 4px;
  height: 24px;
  background: #e6e6e6;
  border: none;
}
.hero__bulletone {
  width: 4px;
  height: 40px;
  background: #4f8ff0;
  border: none;
}
.hero__sliderbtn {
  width: 32px;
  height: 2px;
  background: #e6e6e6;
  border: none;
  transform: rotateZ(115deg);
}

.service {
  &__cardtitle {
    color: #222;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
  }
  &__cardsubtitle {
    color: #222;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
.titlebtn {
  border: none;
  width: 50px;
  height: 3px;
  background: #4f8ff0;
  margin-top: 10px;
}
a:hover {
  cursor: url("../icons/cursor.svg"), auto;
}
.about {
  &__title {
    color: #222;
    font-family: Nunito Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 42px */
    text-transform: uppercase;
  }
  &__span {
    color: #4f8ff0;
    font-family: Nunito Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    text-transform: uppercase;
  }
  &__subtitle {
    color: #222;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: justify;
    padding-top: 24px;
  }
  &__sertbtn {
    border: 2px solid #e6e6e6;
    background: #e6e6e6;
    color: #222222;
    margin-left: 24px;
  }
}
.lawyers {
  &__title {
    text-align: center;
    color: #222;
    font-family: Nunito Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 42px */
    text-transform: uppercase;
  }
  &__subtitle {
    color: #222;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin: 24px auto 0;
  }
  &__titlebtn {
    display: block;
    margin: 24px auto 0;
  }
}
.card {
  &__name {
    color: #222;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  &__post {
    color: #222;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    text-transform: lowercase;
  }
  &__text {
    padding: 24px 16px;
    text-align: center;
  }
}
.cardop {
  &__span {
    color: #222;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  &__subtitleheader {
    color: #222;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
  }

  &__subtitle {
    color: #000;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
  }
  &__subtitlebottom {
    color: #222;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }
  &__subtitletop {
    color: #222;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
  }
}
.review {
  &__title {
    color: #222;
    font-family: Nunito Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 42px */
    text-transform: uppercase;
  }
}
.info {
  &__subtitle {
    color: #222;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
  }
  &__title {
    color: #222;
    font-family: Nunito Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }
}
.material {
  &__title {
    color: #222;
    font-family: Nunito Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    text-transform: uppercase;
  }
  &__subtitle {
    color: #222;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
  &__cardtitle {
    color: #222;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }
  &__cardsubtitle {
    color: #222;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
  }
  &__time {
    color: #222;
    font-family: Nunito Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
  }
}
.footer {
  background: #222;
  &__bottom {
    background: #181818;
    min-height: 49px;
  }
  &__title {
    max-width: 276px;
    color: #4f8ff0;
    font-family: Nunito Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    text-transform: uppercase;
  }
  &__span {
    color: #fff;
    font-family: Nunito Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    text-transform: lowercase;
  }
  &__subtitle {
    max-width: 862px;
    color: #f8f5f4;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    text-transform: lowercase;
  }
  &__nav {
    color: #fff;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    &:hover {
      color: #4f8ff0;
      text-align: center;
      font-family: Nunito Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      text-transform: uppercase;
    }
  }
}
.contact {
  &__titleone {
    color: #8c8c8c;
    font-family: Nunito Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
  }
  &__titletwo {
    color: #fff;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }
}
.person {
  &__title {
    color: #fff;
    font-family: Nunito Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }

  &__subtitle {
    color: #fff;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
  }
  &__text {
    color: #fff;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
  }
}
.bottom {
  &__title {
    color: #fff;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
  }
}
