* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 24px;
}

.header__info {
  background: #010101;
  height: 52px;
  flex-shrink: 0;
}

.header__navigators {
  background: rgba(1, 1, 1, 0.76);
  min-height: 112px;
  flex-shrink: 0;
}

.header__nm {
  color: #fff;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header__nmcontact {
  gap: 16px;
  display: flex;
  justify-content: space-between;
}

.header__zvonok {
  color: #4f8ff0;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-decoration: none;
}

.header__titleh1 {
  color: #4f8ff0;
  font-family: Nunito Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
  text-transform: uppercase;
}

.header__undertitle {
  color: #fff;
  font-family: Nunito Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
  text-transform: lowercase;
}

.header__alink {
  color: #fff;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration: none;
}
.header__alink:hover {
  color: #4f8ff0;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
}

.hero__button,
.btn {
  display: block;
  padding: 16px 24px;
  gap: 10px;
  border: 2px solid #4f8ff0;
  background: #4f8ff0;
  color: #fff;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 48px;
  height: 49px;
}
.hero__button:hover,
.btn:hover {
  border: 2px solid #4f8ff0;
  background: #fff;
  color: #4f8ff0;
  cursor: url("../icons/cursorwhite.svg"), auto;
}

.hero__bullettwo,
.hero__bulletthree {
  width: 4px;
  height: 24px;
  background: #e6e6e6;
  border: none;
}

.hero__bulletone {
  width: 4px;
  height: 40px;
  background: #4f8ff0;
  border: none;
}

.hero__sliderbtn {
  width: 32px;
  height: 2px;
  background: #e6e6e6;
  border: none;
  transform: rotateZ(115deg);
}

.service__cardtitle {
  color: #222;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
}
.service__cardsubtitle {
  color: #222;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.titlebtn {
  border: none;
  width: 50px;
  height: 3px;
  background: #4f8ff0;
  margin-top: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: url("../icons/cursor.svg"), auto;
}

.about__title {
  color: #222;
  font-family: Nunito Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 42px */
  text-transform: uppercase;
}
.about__span {
  color: #4f8ff0;
  font-family: Nunito Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
  text-transform: uppercase;
}
.about__subtitle {
  color: #222;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: justify;
  margin-top: 24px;
}
.about__sertbtn {
  border: 2px solid #e6e6e6;
  background: #e6e6e6;
  color: #222222;
  margin-left: 24px;
}

.lawyers__title {
  text-align: center;
  color: #222;
  font-family: Nunito Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 42px */
  text-transform: uppercase;
}
.lawyers__subtitle {
  color: #222;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin: 24px auto 0;
}
.lawyers__titlebtn {
  display: block;
  margin: 24px auto 0;
}

.card__name {
  color: #222;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.card__post {
  color: #222;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  text-transform: lowercase;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card__text {
  padding: 24px 16px;
  text-align: center;
}

.cardop__span {
  color: #222;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.cardop__subtitleheader {
  color: #222;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
}
.cardop__subtitle {
  color: #000;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.cardop__subtitlebottom {
  color: #222;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.cardop__subtitletop {
  color: #222;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
}

.review__title {
  color: #222;
  font-family: Nunito Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 42px */
  text-transform: uppercase;
}

.info__subtitle {
  color: #222;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
}
.info__title {
  color: #222;
  font-family: Nunito Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.material__title {
  color: #222;
  font-family: Nunito Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
}
.material__subtitle {
  color: #222;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.material__cardtitle {
  color: #222;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.material__cardsubtitle {
  color: #222;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.material__time {
  color: #222;
  font-family: Nunito Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
}

.footer {
  background: #222;
}
.footer__bottom {
  background: #181818;
  min-height: 49px;
}
.footer__title {
  max-width: 276px;
  color: #4f8ff0;
  font-family: Nunito Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
  text-transform: uppercase;
}
.footer__span {
  color: #fff;
  font-family: Nunito Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
  text-transform: lowercase;
}
.footer__subtitle {
  max-width: 862px;
  color: #f8f5f4;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  text-transform: lowercase;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.footer__nav {
  color: #fff;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}
.footer__nav:hover {
  color: #4f8ff0;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}

.contact__titleone {
  color: #8c8c8c;
  font-family: Nunito Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}
.contact__titletwo {
  color: #fff;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.person__title {
  color: #fff;
  font-family: Nunito Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.person__subtitle {
  color: #fff;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
}
.person__text {
  color: #fff;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}

.bottom__title {
  color: #fff;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}

.flex__jcsb {
  display: flex;
  justify-content: space-between;
}

.flex__jcc_aic {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  position: relative;
}

.header {
  position: absolute;
  width: 100%;
}

.header__contact {
  padding: 17.5px 0;
  display: flex;
  justify-content: space-between;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  width: 312px;
  height: 62px;
  display: flex;
  align-items: flex-start;
}

.header__link {
  width: 679px;
  display: flex;
  justify-content: space-between;
  padding: 45px 0;
}

@media (max-width: 1024px) {
  .header__titleh1 {
    font-size: 22px;
  }
  .header__undertitle {
    font-size: 16px;
  }
  .header__link {
    display: none;
  }
  .header__navigators {
    min-height: 84px;
  }
  .header__navigation {
    padding-top: 18px;
  }
}
@media (max-width: 540px) {
  .header__titleh1 {
    font-size: 22px;
  }
  .header__undertitle {
    font-size: 16px;
  }
  .header__nm:last-child {
    display: none;
  }
}
.hero {
  background-image: url("../image/bg.webp");
  background-position: 100%;
  background-size: auto;
  background-repeat: no-repeat;
  padding-top: 262px;
}
.hero__h {
  color: #fff;
  font-family: Nunito Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero__span {
  color: #4f8ff0;
  font-family: Nunito Sans;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 84px */
  text-transform: uppercase;
}
.hero__p {
  color: #fff;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  margin-top: 8px;
}
.hero__slider {
  margin-top: 192px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__bullet {
  display: flex;
  align-items: end;
  gap: 8px;
  margin-bottom: 36px;
}

@media (max-width: 1024px) {
  .hero__h {
    font-size: 24px;
  }
  .hero__span {
    font-size: 56px;
  }
  .hero__subtitle {
    font-size: 18px;
  }
}
@media (max-width: 540px) {
  .hero__h {
    font-size: 18px;
  }
  .hero__title {
    padding-top: 142px;
  }
  .hero__span {
    font-size: 30px;
  }
  .hero__subtitle {
    font-size: 16px;
  }
  .hero__slider {
    display: none;
  }
  .hero__container {
    padding: 60px 0;
  }
}
.service {
  background: #f7f7f7;
  padding: 80px 0;
}
.service__cards {
  display: grid;
  max-width: 1320px;
  margin: 40px auto 0;
  box-sizing: content-box;
  grid-template-columns: repeat(3, 2fr);
  gap: 24px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.service__cards::-webkit-scrollbar {
  display: none;
}
.service__text {
  max-width: 920px;
  text-align: center;
  margin: 0 auto;
}
.service__title {
  display: block;
  color: #222;
  font-family: Nunito Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
}
.service__subtitle {
  color: #222;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-top: 24px;
}
.service__titlebtn {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
.service__card {
  display: flex;
  position: relative;
  max-width: 424px;
  min-height: 250px;
  padding: 50px 32px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  background: #fff;
  transition: 0.5s;
}
.service__card:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  background: #4f8ff0;
  cursor: url("../icons/cursor.svg"), auto;
}
.service__card:hover .service__cardtitle {
  color: white;
}
.service__card:hover .service__cardsubtitle {
  color: white;
}
.service__card:hover path {
  fill: white;
}
.service__cardtext {
  margin-top: 15px;
}
.service__topleft {
  position: absolute;
  top: 20px;
  left: 20px;
}
.service__topright {
  position: absolute;
  top: 20px;
  right: 20px;
  transform: rotate(90deg);
}
.service__bottomleft {
  position: absolute;
  bottom: 20px;
  left: 20px;
  transform: rotate(-90deg);
}
.service__bottomright {
  position: absolute;
  bottom: 20px;
  right: 20px;
  transform: rotate(180deg);
}

@media (max-width: 1024px) {
  .service {
    height: 100%;
  }
  .service__title {
    font-size: 24px;
  }
  .service__subtitle {
    max-width: 696px;
    margin: 0 auto;
  }
  .service__card {
    max-width: 336px;
    height: 229px;
    padding: 30px 32px;
  }
  .service__cards {
    max-width: 696px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin: 48px auto 0;
  }
}
@media (max-width: 540px) {
  .service {
    padding: 40px 0;
  }
  .service__title {
    font-size: 20px;
  }
  .service__subtitle {
    font-size: 14px;
    max-width: 342px;
    margin-top: 16px;
  }
  .service__cards {
    min-width: 250px;
    min-height: 215px;
    margin-top: 24px;
    gap: 0 24px;
    display: flex;
    overflow: scroll;
    flex-wrap: nowrap;
  }
  .service__card {
    max-width: 250px;
    height: 215px;
    padding: 24px 16px;
  }
  .service__card > p {
    margin-top: 10px;
  }
  .service__card:first-child {
    margin-left: calc((100vw - 1320px) / 2);
  }
  .service__card:last-child {
    margin-right: calc((100vw - 1320px) / 2);
  }
  .service__card:first-child {
    margin-left: 24px;
  }
  .service__card:last-child {
    margin-right: 24px;
  }
}
.about__container {
  padding: 80px 0;
}
.about__img {
  max-width: 535px;
  height: 359px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 4px 4px 12px 2px rgba(33, 33, 33, 0.25);
}
.about__content {
  display: flex;
  justify-content: space-between;
}
.about__subtitle {
  max-width: 720px;
  min-width: 342px;
}
.about__hbtn {
  display: inline;
}
.about__sertbtn {
  display: inline;
}

@media (max-width: 1280px) {
  .about__img {
    display: none;
  }
  .about__btn {
    padding-top: 36px;
    max-width: 696px;
    margin: 0 auto;
  }
  .about__text, .about__hbtn, .about__sertbtn {
    margin: 0 auto;
  }
  .about__title, .about__span {
    font-size: 24px;
  }
  .about__subtitle {
    max-width: 696px;
  }
}
@media (max-width: 540px) {
  .about {
    padding: 40px 0;
  }
  .about__title {
    font-size: 20px;
  }
  .about__container {
    padding: unset;
  }
  .about__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}
.lawyers {
  padding: 80px 0;
  background: #f7f7f7;
}
.lawyers__img {
  width: 100%;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  background: lightgrey;
  display: block;
}
.lawyers__cards {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(312px, 1fr));
  max-width: 1320px;
  margin: 48px auto 0;
  box-sizing: content-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.lawyers__cards__cards::-webkit-scrollbar {
  display: none;
}
.lawyers__card {
  max-width: 312px;
  min-height: 414px;
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
  background: #fff;
  box-shadow: 2px 2px 12px 0px rgba(33, 33, 33, 0.12);
  transition: 0.5s;
  position: relative;
}
.lawyers__cardop {
  position: absolute;
  max-width: 312px;
  min-height: 414px;
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
  background: #fff;
  box-shadow: 2px 2px 12px 0px rgba(33, 33, 33, 0.12);
  opacity: 0;
  transition: 0.3s;
}
.lawyers__cardop:hover {
  opacity: 1;
  cursor: url("../icons/cursorwhite.svg"), auto;
}

.cardop__text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 83px 20px 84px;
  min-height: 414px;
}
.cardop__rt {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 20px;
  right: 20px;
  border-top: 1px #4f8ff0 solid;
  border-right: 1px #4f8ff0 solid;
}
.cardop__lt {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 20px;
  left: 20px;
  border-top: 1px #4f8ff0 solid;
  border-left: 1px #4f8ff0 solid;
}
.cardop__rb {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 20px;
  bottom: 20px;
  border-right: 1px #4f8ff0 solid;
  border-bottom: 1px #4f8ff0 solid;
}
.cardop__lb {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 20px;
  bottom: 20px;
  border-left: 1px #4f8ff0 solid;
  border-bottom: 1px #4f8ff0 solid;
}

@media (max-width: 1290px) {
  .lawyers__title {
    font-size: 24px;
  }
  .lawyers__subtitle {
    max-width: 696px;
  }
  .lawyers__cards {
    max-height: 414px;
    display: flex;
    overflow: scroll;
    flex-wrap: nowrap;
    gap: 0 24px;
  }
  .lawyers__card {
    max-width: 300px;
    height: 414px;
  }
  .lawyers__card:first-child {
    margin-left: calc((100vw - 1320px) / 2);
  }
  .lawyers__card:last-child {
    margin-right: calc((100vw - 1320px) / 2);
  }
  .lawyers__card:first-child {
    margin-left: 24px;
  }
  .lawyers__card:last-child {
    margin-right: 24px;
  }
  .lawyers__cardop {
    max-width: 300px;
    height: 414px;
  }
  .lawyers__img {
    width: 300px;
  }
}
@media (max-width: 540px) {
  .lawyers {
    padding: 40px 0 46px;
  }
  .lawyers__title {
    font-size: 20px;
  }
  .lawyers__subtitle {
    font-size: 14px;
    max-width: 342px;
  }
  .lawyers__cards {
    max-height: 348px;
    display: flex;
    overflow: scroll;
    flex-wrap: nowrap;
    gap: 0 24px;
  }
  .lawyers__card {
    max-width: 250px;
    min-height: unset;
    height: 348px;
  }
  .lawyers__cardop {
    max-width: 250px;
    height: 348px;
    min-height: unset;
  }
  .lawyers__img {
    max-width: 250px;
    height: 235px;
  }
  .cardop__text {
    padding: 63px 20px 64px;
    min-height: 335px;
  }
  .cardop__span {
    font-size: 12px;
  }
  .cardop__subtitletop {
    font-size: 10px;
  }
  .cardop__subtitle {
    font-size: 11px;
  }
  .cardop__subtitlebottom {
    font-size: 12px;
  }
}
.review {
  padding: 80px 0;
  background-image: url("../image/bgtwo.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.review__cards {
  display: flex;
  justify-content: space-between;
  max-width: 1320px;
  margin: 48px auto 0;
  box-sizing: content-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.review__cards__cards::-webkit-scrollbar {
  display: none;
}
.review__card {
  max-width: 648px;
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  background: #fff;
  box-shadow: 2px 2px 10px 0px rgba(33, 33, 33, 0.15);
}
.review__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.review__icon {
  width: 55px;
  height: 55px;
}
.review__subtitle {
  margin-top: 16px;
  color: #222;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.review__info {
  width: 100%;
  padding: 0 24px;
}
.review__slider {
  background: #4f8ff0;
}
.review__img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  background: lightgrey;
  display: block;
  border-radius: 50%;
  flex-shrink: 0;
  overflow: hidden;
}
.review__image {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  background: lightgrey;
  display: block;
}
.review__hbtn {
  display: inline;
  margin-top: 32px;
}

@media (max-width: 1290px) {
  .review {
    padding: 40px 0;
  }
  .review__title {
    font-size: 24px;
  }
  .review__cards {
    gap: 24px;
    display: flex;
    overflow: scroll;
  }
  .review__card {
    min-width: 576px;
  }
  .review__card:first-child {
    margin-left: calc((100vw - 1320px) / 2);
  }
  .review__card:last-child {
    margin-right: calc((100vw - 1320px) / 2);
  }
  .review__card:first-child {
    margin-left: 24px;
  }
  .review__card:last-child {
    margin-right: 24px;
  }
  .review__btn {
    max-width: unset;
  }
}
@media (max-width: 540px) {
  .review__sliders {
    display: none;
  }
  .review__title {
    font-size: 20px;
  }
  .review__subtitle {
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .review__icon {
    display: none;
  }
  .review__cards {
    gap: 24px;
    margin-top: 24px;
    display: flex;
    overflow: scroll;
  }
  .review__card {
    min-width: 340px;
    min-height: 303px;
    padding: 24px;
  }
  .review__img, .review__image {
    width: 50px;
    height: 50px;
  }
  .review__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .info__title {
    width: 182px;
    font-size: 18px;
  }
  .review__hbtn,
  .review__sertbtn {
    display: unset;
    margin: 0 auto;
  }
  .review__sertbtn {
    margin-top: -8px;
  }
}
.material {
  width: 100%;
  padding: 80px 0;
}
.material__cards {
  display: flex;
  justify-content: space-between;
  max-width: 1320px;
  margin: 80px auto;
  box-sizing: content-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.material__cards::-webkit-scrollbar {
  display: none;
}
.material__white {
  border-color: #fff;
}
.material__image {
  width: 100%;
  height: 270px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  background: lightgray;
}
.material__img {
  width: 100%;
  height: 270px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  background: lightgray;
}
.material__img:hover + h3 {
  color: red;
}
.material__cardopacity {
  position: absolute;
  min-height: 250px;
  max-width: 424px;
  min-width: 270px;
  width: 100%;
  background: rgba(79, 143, 240, 0.4);
  opacity: 0;
}
.material__cardopacity:hover {
  max-width: 424px;
  min-height: 270px;
  background: rgba(79, 143, 240, 0.4);
  opacity: 1;
  cursor: url("../icons/cursor.svg"), auto;
}
.material__svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41.165px;
  height: 40px;
  flex-shrink: 0;
  background: #fff;
  transform: translate(-50%, -50%);
  top: 50%;
  position: absolute;
  left: 50%;
}
.material__card {
  position: relative;
  margin-top: 48px;
  max-width: 424px;
  min-width: 250px;
  width: 100%;
}
.material__line {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.material__lineline {
  max-width: 314px;
  width: 100%;
  height: 1px;
  background: #f8f5f4;
}
.material__cardsubtitle {
  margin: 16px 0 24px 0;
}
.material__cardtitle {
  margin-top: 24.5px;
}
.material__title {
  text-align: center;
}
.material__titlebtn {
  margin-top: 10px;
  display: block;
  margin: 10px auto 0 auto;
}
.material__subtitle {
  margin: 0 auto;
  margin-top: 24px;
  max-width: 920px;
}
.material__time {
  width: 100px;
  margin-right: 10px;
  white-space: nowrap;
}

.material__img:hover + .material__text h3 {
  color: #4f8ff0;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}

@media (max-width: 1350px) {
  .material__title {
    font-size: 24px;
  }
  .material__subtitle {
    max-width: 920px;
  }
  .material__cards {
    gap: 24px;
    display: flex;
    overflow: scroll;
  }
  .material__card {
    min-width: 336px;
  }
  .material__card:first-child {
    margin-left: calc((100vw - 1320px) / 2);
  }
  .material__card:last-child {
    margin-right: calc((100vw - 1320px) / 2);
  }
  .material__card:first-child {
    margin-left: 24px;
  }
  .material__card:last-child {
    margin-right: 24px;
  }
  .material__cardopacity {
    min-width: 336px;
    height: 270px;
  }
  .material__img {
    min-height: 270px;
  }
  .material__image {
    width: 100%;
    height: 270px;
  }
  .material__cardtitle {
    margin-top: 16px;
  }
}
@media (max-width: 540px) {
  .material {
    padding: 40px 0;
  }
  .material__title {
    font-size: 20px;
  }
  .material__subtitle {
    font-size: 14px;
    max-width: 626px;
  }
  .material__cardtitle {
    font-size: 14px;
  }
  .material__cardopacity {
    min-width: 250px;
    height: 200px;
  }
  .material__card {
    min-width: 250px;
  }
  .material__img:hover + .material__text h3 {
    color: #4f8ff0;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }
}
.footer {
  padding: 80px 0 0 0;
}
.footer__container {
  align-items: center;
  height: 49px;
}
.footer__top {
  align-items: center;
}
.footer__line {
  margin-top: 48px;
  max-width: 1320px;
  height: 1px;
  opacity: 0.2;
  background: #8c8c8c;
}
.footer__block {
  margin-top: 48px;
}
.footer__header {
  align-items: center;
}

.contact__nav {
  max-width: 312px;
  width: 100%;
  height: 182px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.contact__icon {
  width: 55px;
  height: 55px;
  flex-shrink: 0;
  background: #2c2c2c;
}
.contact__title {
  width: 100%;
  margin-left: 24px;
}
.contact__tel, .contact__mail {
  margin-top: 24px;
}
.contact__img {
  width: 65px;
  height: 65px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  background: lightgrey;
  display: block;
  border-radius: 50%;
  flex-shrink: 0;
  overflow: hidden;
}

.person__subtext {
  color: #fff;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  max-width: 424px;
  width: 100%;
  margin-top: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.person__text {
  width: 100%;
  margin-left: 24px;
}

.question__btn {
  margin: 48px 0 40px;
}

@media (max-width: 1200px) {
  .footer__subtitle {
    display: none;
  }
  .contact__nav {
    display: none;
  }
  .contact__titletwo {
    font-size: 14px;
  }
}
@media (max-width: 540px) {
  .footer {
    padding-top: 40px;
  }
  .footer__block {
    flex-wrap: wrap;
    margin-top: unset;
  }
  .footer__bottom {
    flex-wrap: wrap;
    min-height: 74px;
    margin-top: unset;
  }
  .footer__container {
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
  }
  .footer__line {
    margin: 24px 0;
  }
  .question__person {
    padding-top: 45px;
  }
}
.burger {
  display: none;
}
.burger__check {
  width: 24px;
  height: 24px;
  position: absolute;
  opacity: 0;
  z-index: 100;
  cursor: pointer;
}
.burger__check:checked {
  position: fixed;
  top: 16px;
  right: 16px;
}
.burger__check:checked ~ .burger__list {
  transform: none;
}
.burger__list {
  width: 290px;
  background: #222;
  height: 100hv;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 38px 0;
  z-index: 80;
  transform: translateX(100%);
  transition: 0.3s;
}
.burger__close {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 90;
}
.burger__link {
  display: block;
  padding: 12px 26px;
}

ul {
  list-style-type: none;
}

@media (max-width: 1024px) {
  .burger {
    display: block;
  }
}
@media (max-width: 375px) {
  .burger__list {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */