.lawyers {
  padding: 80px 0;
  background: #f7f7f7;

  &__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    position: relative;
  }
  &__card {
    max-width: 312px;
    height: 414px;
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    background: #fff;
    box-shadow: 2px 2px 12px 0px rgba(33, 33, 33, 0.12);
  }
  &__cardop {
    position: absolute;
    max-width: 312px;
    height: 414px;
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    background: #fff;
    box-shadow: 2px 2px 12px 0px rgba(33, 33, 33, 0.12);
    opacity: 0;
    &:hover {
      opacity: 1;
      cursor: url("../icons/cursorwhite.svg"), auto;
    }
  }
}
.cardop {
  &__span {
    padding-top: 83px;
  }
  &__subtitletop {
    padding-top: 10px;
  }
  &__subtitle {
    padding-top: 40px;
  }
  &__subtitlebottom {
    padding: 40px 0 84px 0;
  }
  &__rt {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 20px;
    right: 20px;
    border-top: 1px #4f8ff0 solid;
    border-right: 1px #4f8ff0 solid;
  }
  &__lt {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 20px;
    left: 20px;
    border-top: 1px #4f8ff0 solid;
    border-left: 1px #4f8ff0 solid;
  }
  &__rb {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 20px;
    bottom: 20px;
    border-right: 1px #4f8ff0 solid;
    border-bottom: 1px #4f8ff0 solid;
  }
  &__lb {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 20px;
    bottom: 20px;
    border-left: 1px #4f8ff0 solid;
    border-bottom: 1px #4f8ff0 solid;
  }
}
