.lawyers {
  padding: 80px 0;
  background: #f7f7f7;
  &__img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    object-position: center;
    background: lightgrey;
    display: block;
  }
  &__cards {
    display: grid;
    gap: 24px;
    // justify-content: space-between;
    grid-template-columns: repeat(auto-fill, minmax(312px, 1fr));
    max-width: 1320px;
    margin: 48px auto 0;
    // padding: 0 15px;
    box-sizing: content-box;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;

    &__cards::-webkit-scrollbar {
      display: none;
    }
  }
  &__card {
    max-width: 312px;
    min-height: 414px;
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    background: #fff;
    box-shadow: 2px 2px 12px 0px rgba(33, 33, 33, 0.12);
    transition: 0.5s;
    position: relative;
  }
  &__cardop {
    position: absolute;
    max-width: 312px;
    min-height: 414px;
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    background: #fff;
    box-shadow: 2px 2px 12px 0px rgba(33, 33, 33, 0.12);
    opacity: 0;
    transition: 0.3s;

    &:hover {
      opacity: 1;
      cursor: url("../icons/cursorwhite.svg"), auto;
    }
  }
}
.cardop {
  &__text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 83px 20px 84px;
    min-height: 414px;
  }
  // &__span {
  //   padding-top: 83px;
  // }
  // &__subtitletop {
  //   padding-top: 10px;
  // }
  // &__subtitle {
  //   padding-top: 40px;
  // }
  // &__subtitlebottom {
  //   padding: 40px 0 84px 0;

  &__rt {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 20px;
    right: 20px;
    border-top: 1px #4f8ff0 solid;
    border-right: 1px #4f8ff0 solid;
  }
  &__lt {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 20px;
    left: 20px;
    border-top: 1px #4f8ff0 solid;
    border-left: 1px #4f8ff0 solid;
  }
  &__rb {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 20px;
    bottom: 20px;
    border-right: 1px #4f8ff0 solid;
    border-bottom: 1px #4f8ff0 solid;
  }
  &__lb {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 20px;
    bottom: 20px;
    border-left: 1px #4f8ff0 solid;
    border-bottom: 1px #4f8ff0 solid;
  }
}

@media (max-width: 1290px) {
  .lawyers {
    &__title {
      font-size: 24px;
    }
    &__subtitle {
      max-width: 696px;
    }
    &__cards {
      max-height: 414px;
      display: flex;
      overflow: scroll;
      flex-wrap: nowrap;
      gap: 0 24px;
    }
    &__card {
      max-width: 300px;
      height: 414px;
      &:first-child {
        margin-left: calc((100vw - $container-width) / 2);
      }
      &:last-child {
        margin-right: calc((100vw - $container-width) / 2);
      }
      &:first-child {
        margin-left: $responsive-padding;
      }
      &:last-child {
        margin-right: $responsive-padding;
      }
    }
    &__cardop {
      max-width: 300px;
      height: 414px;
    }
    &__img {
      width: 300px;
    }
  }
}
@media (max-width: 540px) {
  .lawyers {
    padding: 40px 0 46px;
    &__title {
      font-size: 20px;
    }
    &__subtitle {
      font-size: 14px;
      max-width: 342px;
    }
    &__cards {
      max-height: 348px;
      display: flex;
      overflow: scroll;
      flex-wrap: nowrap;
      gap: 0 24px;
    }
    &__card {
      max-width: 250px;
      min-height: unset;
      height: 348px;
    }
    &__cardop {
      max-width: 250px;
      height: 348px;
      min-height: unset;
    }
    &__img {
      max-width: 250px;

      height: 235px;
    }
  }
  .cardop {
    &__text {
      padding: 63px 20px 64px;
      min-height: 335px;
    }
    &__span {
      font-size: 12px;
    }
    &__subtitletop {
      font-size: 10px;
    }
    &__subtitle {
      font-size: 11px;
    }
    &__subtitlebottom {
      font-size: 12px;
    }
  }
}
