.review {
  padding: 80px 0;
  background-image: url("../image/bgtwo.webp");
  // border: 1px solid black;
  // width: 1920px;
  background-position: 100%;
  background-size: auto;
  background-repeat: no-repeat;

  &__cards {
    padding-top: 48px;
    display: flex;
    justify-content: space-between;
  }

  &__card {
    max-width: 648px;
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    background: #fff;
    box-shadow: 2px 2px 10px 0px rgba(33, 33, 33, 0.15);
  }
  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  &__icon {
    width: 55px;
    height: 55px;
  }
  &__subtitle {
    padding-top: 16px;
    color: #222;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &__info {
    width: 100%;
    padding: 0 24px;
  }
  &__slider {
    background: #4f8ff0;
  }
}

@media (max-width: 1290px) {
  .review {
    padding: 31px 0 40px;
    &__title {
      font-size: 24px;
    }

    &__cards {
      gap: 24px;
      display: flex;
      overflow: scroll;
    }
    &__card {
      min-width: 576px;
    }
  }
  .about__btn {
    max-width: unset;
  }
}
@media (max-width: 540px) {
  
  .review {
    &__sliders {
      display: none;
    }
    &__title {
      font-size: 20px;
    }
    &__icon {
      display: none;
    }
    &__cards {
      gap: 24px;
      padding-top: 24px;
      display: flex;
      overflow: scroll;
    }
    &__card {
      min-width: 340px;
      min-height: 303px;
      padding: 24px;
    }
    &__img {
      width: 50px;
      height: 50px;
    }
  }
  .info {
    &__title {
      width: 182px;
      font-size: 18px;
    }
  }
  .about__hbtn,
  .about__sertbtn {
    display: unset;
    margin: 0 auto;
  }
}
