.review {
  padding: 80px 0;
  background-image: url("../image/bgtwo.webp");
  // border: 1px solid black;
  // width: 1920px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__cards {
    display: flex;
    justify-content: space-between;
    max-width: 1320px;
    margin: 48px auto 0;
    // padding: 0 15px;
    box-sizing: content-box;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;

    &__cards::-webkit-scrollbar {
      display: none;
    }
  }

  &__card {
    max-width: 648px;
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    background: #fff;
    box-shadow: 2px 2px 10px 0px rgba(33, 33, 33, 0.15);
  }
  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  &__icon {
    width: 55px;
    height: 55px;
  }
  &__subtitle {
    margin-top: 16px;
    color: #222;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &__info {
    width: 100%;
    padding: 0 24px;
  }
  &__slider {
    background: #4f8ff0;
  }
  &__img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    background: lightgrey;
    display: block;
    border-radius: 50%;
    flex-shrink: 0;
    overflow: hidden;
  }
  &__image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    background: lightgrey;
    display: block;
  }
  &__hbtn {
    display: inline;
    margin-top: 32px;
  }
}

@media (max-width: 1290px) {
  .review {
    padding: 40px 0;
    &__title {
      font-size: 24px;
    }

    &__cards {
      gap: 24px;
      display: flex;
      overflow: scroll;
    }
    &__card {
      min-width: 576px;
      &:first-child {
        margin-left: calc((100vw - $container-width) / 2);
      }
      &:last-child {
        margin-right: calc((100vw - $container-width) / 2);
      }
      &:first-child {
        margin-left: $responsive-padding;
      }
      &:last-child {
        margin-right: $responsive-padding;
      }
    }
  }
  .review__btn {
    max-width: unset;
  }
}
@media (max-width: 540px) {
  .review {
    &__sliders {
      display: none;
    }
    &__title {
      font-size: 20px;
    }
    &__subtitle {
      display: -webkit-box;
      -webkit-line-clamp: 9;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    &__icon {
      display: none;
    }
    &__cards {
      gap: 24px;
      margin-top: 24px;
      display: flex;
      overflow: scroll;
    }
    &__card {
      min-width: 340px;
      min-height: 303px;
      padding: 24px;
    }
    &__img,
    &__image {
      width: 50px;
      height: 50px;
    }
    &__btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      // margin-bottom: 40px;
    }
  }
  .info {
    &__title {
      width: 182px;
      font-size: 18px;
    }
  }
  .review__hbtn,
  .review__sertbtn {
    display: unset;
    margin: 0 auto;
  }
  .review__sertbtn {
    margin-top: -8px;
  }
}
