.service {
  background: #f7f7f7;
  padding: 80px 0;
  &__cards {
    display: grid;
    // flex-wrap: wrap;
    // justify-content: space-between;
    grid-template-columns: repeat(3, 3fr);
    max-width: 1320px;
    min-height: 538px;
    margin-top: 48px;
    gap: 24px;
  }

  &__text {
    max-width: 920px;
    text-align: center;
    margin: 0 auto;
  }
  &__title {
    display: block;
    color: #222;
    font-family: Nunito Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    text-transform: uppercase;
  }
  &__subtitle {
    color: #222;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-top: 24px;
  }
  &__titlebtn {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }

  &__card {
    display: flex;
    position: relative;
    max-width: 424px;
    min-height: 250px;
    padding: 50px 32px;
    flex-direction: column;
    align-items: center;
    // gap: 15px;
    flex-shrink: 0;
    background: #fff;
    transition: 0.5s;

    &:hover {
      display: flex;
      // width: 424px;
      // height: 250px;
      // padding: 50px 32px;
      flex-direction: column;
      align-items: center;
      // gap: 15px;
      flex-shrink: 0;
      background: #4f8ff0;
      cursor: url("../icons/cursor.svg"), auto;

      .service {
        &__cardtitle {
          color: white;
        }
        &__cardsubtitle {
          color: white;
        }
      }
    }

    &:hover path {
      fill: white;
    }
  }

  &__cardtext {
    margin-top: 15px;
  }

  &__topleft {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  &__topright {
    position: absolute;
    top: 20px;
    right: 20px;
    transform: rotate(90deg);
  }
  &__bottomleft {
    position: absolute;
    bottom: 20px;
    left: 20px;
    transform: rotate(-90deg);
  }
  &__bottomright {
    position: absolute;
    bottom: 20px;
    right: 20px;
    transform: rotate(180deg);
  }
}

@media (max-width: 1024px) {
  .service {
    height: 100%;
    &__title {
      font-size: 24px;
    }
    &__subtitle {
      max-width: 696px;
      margin: 0 auto;
    }
    &__card {
      max-width: 336px;
      height: 229px;
      padding: 30px 32px;
    }

    &__cardtext {
      // max-width: 336px;
      // height: 229px;
    }
    &__cards {
      max-width: 696px;
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      gap: 24px;
      margin: 48px auto 0;
    }
  }
}
@media (max-width: 540px) {
  .service {
    padding: 40px 0;
    &__title {
      font-size: 20px;
    }
    &__subtitle {
      font-size: 14px;
      max-width: 342px;
      // margin: 0 auto;
    }
    &__cards {
      min-width: 250px;
      min-height: 215px;
      margin-top: 24px;
      gap: 0 24px;
      display: flex;
      overflow: scroll;
      flex-wrap: nowrap;
    }
    &__card {
      max-width: 250px;
      height: 215px;
      padding: 24px 16px;
    }
  }
}
